<br/><br/><br/>
<div class="g-plus w3-right" data-action="share" href="https://easykeytopass.com"></div>
<div class="w3-row w3-black w3-center" style="width:100%;z-index: 27">
    <div class="w3-col w3-hide-small w3-hide-medium l1">
        <p> </p>
    </div>
    <div class="w3-col w3-hide-small w3-hide-medium l1 w3-right">
        <p> </p>
    </div>
    <div class="w3-col s6 m6 l3 w3-left-align" >
        <br />
        <a href="/" target="_blank"><img src="views/images/WhiteInTrans.png" style="height: 50px;"></a>
        <p class="w3-small" langkey="footer-description-1">Professional password from easy to remember keywords <br/>  </p>
    </div>
    <div class="w3-col s6 m6 l3 w3-small w3-right-align w3-right" >
    
        <br/>
        <br/>            
        <p>
        
            <span langkey="copyleft-1">Developed by:</span><a href="mailto:sirhung1993@gmail.com"> Bui Viet Hung <span class="copyleft">&copy;</span></a>
        </p>
        <p>
            <span langkey="copyleft-2">Design by:</span>
            <a  href="mailto:loc.nguyenxuan99@outlook.com">Evil Artist &clubs; </a>
        </p>
        </table>
    </div>
    <div class="w3-col w3-center s12 m4 l4" >
        <p langkey="Powered-By"> Powered by </p>
        <p>
            <a href="https://nodejs.org/en/" target="_blank" ><img src="views/images/nodejs-new-pantone-white.png" style="height: 40px;margin-left:20px" ></a>
            <a href="https://heroku.com" target="_blank" ><img src="views/images/heroku.svg" style="height: 40px;margin-left:20px" ></a>
        </p>
        <p>
            <a href="https://www.w3schools.com/w3css/" target="_blank"><img src="views/images/w3css.gif" style="height: 40px;margin-left:20px" ></a>
            <a  href="https://jquery.com/" target="_blank"><img src="views/images/jquery-logo.png" style="height: 40px;margin-left:20px"></a>
        </p>
    </div>
 
    
    
</div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
