<meta charset="UTF-8">
<title>Easypassword </title>
<link rel='shortcut icon' type='image/x-icon' href='views/images/BlackInWhite.png' />
<!-- CSS (load bootstrap from a CDN) -->
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="layout/w3.css">
    <script src="layout/jquery.min.js"></script>
    <script src="layout/language.js"></script>
    <script src="src/Background.js"> </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="layout/body.css">

<script type="application/ld+json">
{
  "@type": "Web-Tool",
  "name": "Easykeytopass",
  "author": "Bui Viet Hung - Nguyen Xuan Loc",
  "image": "https://easytopass.com/views/images/BlackInWhite.png",
  "description": "It is a tool to encode and secure passwords by using keyword-based authentication ",
  "blockName": {
    "@type": "a seed to generate new password",
    "defaultValue": "defaultblock",
    "isUnique": "true",
    "includeHints": "More than one hint for each block",
    "bestQuantityOfHint": "3"
  },
  "keyWord": {
    "@type": "Easy to remember keywords",
    "range": "more than 1 character",
    "isOrderSensitive": "true",
    "typeOfSubmit": "Array of keywords"
  },
  "aboutEasykeytopass": "In order to help the password become not only more secure but also easier to remember by using keyword-based password",
  "passwordSpecification": {
  "@type": "About this password generator",
    "isUnique": "Not sure, but no one could know the password even the webmaster or admin",
    "isSecured": "With 32 characters in length and mixed between numbers, lower characters and upper character. Yes, the Easykeytopass generated passwords is more secured then common ones",
    "notEasyToForget": "The password are generated from your familiar keyword such as name, birthday and favourite website. Thus, it is not easy to forget."
  },
  "gettingStarted": "will be developed soon",
  "APIDocument": "will be developed soon"
}
</script>