
    <div id="BackGround" style="width:100%">
           
    </div>
    <div id="header" class="w3-row " style="position:fixed; width:100%;z-index: 13">
         <div style="position:absolute ;left:0;width:100%;background: black;height: 80px; opacity: 0.8"> 
         <div class="w3-content w3-small w3-row w3-right "  style="top:60px" id="settingpannel" > 
                
                <select class="w3-small w3-black w3-text-white w3-col FwhenS" id="lang" onchange="SelectLanguage()">
                    <option value="vi">Tiếng Việt</option>
                    <option value="en">English</option>
                </select> 
            </div>  
        
        </div> 
        <div class="w3-row">
            <div class="w3-col LeftBlankCol " style="height:60px;background-color: #000">
                <p> </p>
            </div>
            <div style="position: relative;height:60px" class="w3-col CenterCol w3-black">
                <div class="w3-left"  style="position: absolute">
                    <img class="w3-col" src="views/images/WhiteInTrans.png" style="height:60px;width:60px;top:2px;position:absolute"/>
                    <h1 class="w3-text-white" style="width:50%;margin:0;position: relative; left:102px;top:5px">EasyKeyToPass</h1>
                    
                </div>
                    
            </div>
            <div class="w3-col LeftBlankCol " style="height:60px;background-color: #000">
                
            </div>
        </div>
    </div>