<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <h1 class="w3-panel w3-red w3-border w3-round-xlarge"> 404 NOT FOUND</h1>
        <h1 class="w3-panel w3-red w3-border w3-round-xlarge"> Something wrong is happening</h1>
    </body>
</html>
