<!DOCTYPE html>
<html class="w3-black"  lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
    
    
	<header>
  		<% include ../partials/header %>
  	</header>
    <div id="BackGround" style="width:100%">
        
    </div>
		<% include ../partials/body %>
  
  <footer class="w3-col">
      <% include ../partials/footer %>
  </footer>

</body>
</html>
